run = "uvicorn app.main:app --host 0.0.0.0 --port 8080"
modules = ["web", "nodejs-20", "python-3.12", "nix"]
entrypoint = "app/main.py"

[deploy]
run = ["sh", "-c", "uvicorn app.main:app --host 0.0.0.0 --port 8080"]

[env]
PYTHONPATH = "${PYTHONPATH}:."

[languages]
python = { pattern = "**/*.py" }

[packager]
language = "python3"
ignoredPackages = ["unit_tests"]

[packager.features]
packageSearch = true
guessImports = true
enabledForHosting = false

[nix]
channel = "stable-25_05"

